@font-face {
  font-family: 'raleway-headline';
  font-display: swap;
  src: url('/fonts/Raleway-Bold.ttf');
}

@font-face {
  font-family: 'raleway-text';
  font-display: swap;
  src: url('/fonts/Raleway-Medium.ttf');
}

@font-face {
  font-family: 'vollkorn';
  font-display: swap;
  src: url('/fonts/Vollkorn-Regular.ttf');
}
