.neutral {
  background: #feac5e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4bc0c8,
    #c779d0,
    #feac5e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4bc0c8,
    #c779d0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.good {
  composes: neutral;
  background-image: linear-gradient(120deg, #c6ffc2 0%, #c6ffc2 100%);
}

.bad {
  composes: neutral;
  background-image: linear-gradient(120deg, #fac2c2 0%, #fac2c2 100%);
}

.warning {
  composes: neutral;
  background-image: linear-gradient(120deg, #fdf4c2 0%, #fdf4c2 100%);
}
